doctype html
html(lang='en' class="red ligthen-5")
	head
		title Ice Breaker
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(rel="stylesheet" href="/views/custom.css")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- script(src="/socket.io/socket.io.js")
		script(src="https://cdn.socket.io/socket.io-1.0.0.js")
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	body

		script(src="/views/custom.js")


		.row(class="header")
			div(class="card-panel teal ligthen-2" id="chatnamepanel")
				fb:login-button(scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="large" data-show-faces="false" auto-logout-link="true" id="facebooklogin")
				
				div(id="status")

				h3(class="center white-text" id="chatpagename") Ice Breaker

		div(class="content")

			.row
				div(class="col m3 offset-m1" id="picturebox")
					img(id="pictures")

				div(class="col m5" id="chatfunc")
					.row
						div(id="msgholder" placeholder="msg comes here")
							ul(id="messages")
						span Your name
					.row
						div(class="col m8")
							input(type="text", placeholder="Anonymous", maxlength=15)#name
						div(class="col m4")
							button(class="btn waves-effect" id="namebtn") save
					br
					span(style="font-family: Consolas, Monaco, monospace; font-size: 12px; line-height: 18px;")
						div(id="alert")
					form(id="form")
						textarea(rows="4", cols="50",id="m", placeholder="Break The Ice", maxlength=200)
						button(class="btn waves-effect") Send
					div.inlineBlock.topAligned

			.row
				div(class="card-panel teal" id="startbtn")
					button(class="btn waves-effect waves-light purple" type="submit") Start
					i(class="material-icons right") send

			//- div(class="col m4 l4")
			//- 	div.inlineBlock
			//- 		span Your name
			//- 			input(type="text", value="Anonymous")#name
			//- 		br
			//- 		form#messageForm
			//- 			textarea(rows="4", cols="50", placeholder="Share something!", maxlength=200)#outgoingMessage
			//- 			input(type="button", value="Share", disabled=true)#send
			//- 		div.inlineBlock.topAligned
			//- 			b Participants
			//- 			br
			//- 			div#participan
			//- 	div#messages

