.content {
	padding-left: 20px;
	padding-right: 20px;
}


#appname {
	text-align: center;
}

#chatnamepanel {
	margin-top: 0px;
	height: 90px;
}

#chatpagename {
	text-align: center;
	margin: 0px;
}

#facebooklogin {
	float: left;
}

#picturebox {
/*	margin-left: 35px;*/
	margin-top: 70px;
}

#pictures{
	width: 100%;
}

#startbtn {
	margin-left: 35px;
	width: 17%;
	margin-top: 0px;

}


#alert {
	height: 10px;
	margin-bottom: 5px;
}
/*[class*="col"]{
	border: 1px solid blue;
}*/


/*chat box css*/

/*body {
  padding: 3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}*/

textarea {
  resize: none;
  border-color: red;
  background-color: grey;
}

.inlineBlock {
 display: inline-block;
}

.topAligned {
 vertical-align: top;
}

#chatwindown {
	 background-color: white; 
	 position: fixed; 
	 bottom: 0; 
	 width: 100%;
}
/*
body {
	font: 13px Helvetica, Arial;
	font-size: 1em;
}*/


#chatfunc {
	margin-top: 70px;
}

#msgholder {
	width: 100%;
	height: 300px;
	background-color: white;
	font: 10px Helvetica, Arial;
}


#messages { 
 	list-style-type: none; 
 	margin: 0; padding: 0;
}
#messages li { 
	padding: 5px 10px;
}
#messages li:nth-child(odd) { 
	background: #eee;
}